nav#sidenav-main.sidenav.navbar.navbar-vertical.fixed-left.navbar-expand-xs.navbar-light.bg-white
    .scroll-wrapper.scrollbar-inner(style="position: relative;")
      .sidenav-header.align-items-center
        a.navbar-brand(href="javascript:;)")
          h2 Jacobs Torrentor
      .navbar-inner
        // Collapse
        #sidenav-collapse-main.collapse.navbar-collapse
          // Nav items
          ul.navbar-nav
            li.nav-item
              a.nav-link.active(href="/")
                i.ni.ni-tv-2.text-primary
                span.nav-link-text Download Torrent
            li.nav-item
              a.nav-link(href="viewTorrents")
                i.ni.ni-planet.text-orange
                span.nav-link-text View Torrents
