body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

a {
    color: #00B7FF;
}

@media (min-width: 680px) {
    .halfWidth {
        width: 78% !important;
        margin: auto;
        padding: 80px;
    }
    .mainDiv {
        padding: 40px;
    }
}

.purple {
    background-color: #825ee4;
    height: 100vh;
}

@media (min-width: 1200px) {
    .main {
        margin-left: 250px;
    }
}

#load {
    display: none;
}

@media (max-width:680px) {
    .table thead th {
        padding-left: 5px;
        padding-right: 5px;
    }
    .halfWidth {
        width: 95% !important;
        margin: auto;
    }
    .mainDiv {
        padding: 10px;
    }
}