body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.halfWidth {
    width: 78% !important;
    margin: auto;
    padding: 80px;
}

.main{ 
    margin-left: 250px
}


.mainDiv{ 
    padding: 40px;
}

.purple{
    background-color: #825ee4 ;
}